/* Typography */

li > a {
    text-decoration: none;
    color: black;

}

h1,
.btn {
    color: white;
} 
/* Styling */

/* backgrounds, borders */

h1,
.btn {
    background: rgb(243, 174, 25);
}

.details span,
.btn,
span,
li {
    cursor: pointer;
}

.products {
    margin-left: -40px;
}

.products > li{
    max-width: 400px;
    list-style-type: none;
    margin: 5px auto; 
    padding: 5px;
}

.products > li {
    background-color:white;
    color:  rgb(243, 174, 25);
    border: 1px solid rgb(243, 174, 25);
    border-radius: 5px;
}

.details {
    margin: 0 auto;
    max-width: 350px;
}

li > span {
    float: right;
    margin-right: 10px;
}

.btn {
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    text-decoration: none;
    float: right;
}

.btn {
    float: right;
    /* margin-right: 10px; */
}

